.desktop {
  align-items: flex-start;
  background-color: #143094;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.desktop .frame {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  position: relative;
}
.desktop .frame-2 {
  align-items: flex-start;
  width: 100%;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.desktop .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 26px;
  position: relative;
}

.desktop .header {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 13px 0px 0px;
  position: relative;
}

.desktop .guidetitle {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 215.05px;
}

.desktop .guide {
  color: transparent;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .span {
  color: #ddd3d3;
}

.desktop .text-wrapper-2 {
  color: #ffffff;
}

.desktop .text-wrapper-3 {
  color: #797cb0;
}

.desktop .text-wrapper-4 {
  color: #e1d6d66b;
}

.desktop .headerprofile {
  align-items: center;
  display: flex;
  gap: 75px;
  justify-content: center;
  position: relative;
  width: 507.3px;
}

.desktop .search {
  align-items: center;
  background-color: #f7f6f630;
  border-radius: 36px;
  display: flex;
  gap: 26px;
  height: 30px;
  padding: 7px 15px;
  position: relative;
  width: 210px;
}

.desktop .iconsax-linear-2 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.desktop .linsearch {
  height: 15px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 1px;
}

.desktop .titlesearch {
  color: #ffffff61;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: fit-content;
}

.desktop .badgeprofile {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  position: relative;
  width: 175px;
}

.desktop .nameprofile {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
  position: relative;
}

.desktop .name {
  align-self: stretch;
  color: transparent;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: right;
}

.desktop .text-wrapper-5 {
  color: #14d8d8;
}

.desktop .title-2 {
  align-self: stretch;
  color: #cfc3c3;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: right;
}

.desktop .photos {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
  position: relative;
  width: 41px;
}

.desktop .photoprofile {
  height: 40px;
  min-width: 40.92px;
  object-fit: cover;
  position: relative;
}

.desktop .icone-connect {
  background-color: #e4efe9;
  border-radius: 4.09px/4px;
  height: 8px;
  left: 31px;
  position: absolute;
  top: 3px;
  width: 8px;
}

.desktop .vert {
  background-color: #0dab5f;
  border-radius: 3.07px/3px;
  height: 6px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 6px;
}

.desktop .frame-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 17px;
  position: relative;
}

.desktop .frame-5 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 48px;
  position: relative;
}

.desktop .boxone {
  align-items: flex-start;
  border-color: #fdf2f25e;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  height: 430px;
  position: relative;
  width: 270px;
}

.desktop .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 47px;
  height: 35px;
  justify-content: center;
  position: relative;
}

.desktop .text-wrapper-6 {
  color: #ffffffb0;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 171.8px;
}

.desktop .iconsax-broken-sound {
  height: 20.57px;
  min-width: 17.5px;
  position: relative;
}

.desktop .frame-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 54px;
  position: relative;
}

.desktop .text-wrapper-7 {
  color: #ffffff66;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 129px;
}

.desktop .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -1px;
  position: relative;
  width: 138px;
}

.desktop .frame-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 46px;
  position: relative;
}

.desktop .frame-9 {
  align-items: center;
  background-color: #3d9279;
  border-radius: 4px;
  display: flex;
  height: 21px;
  justify-content: center;
  padding: 13px 5px;
  position: relative;
  width: 47.91px;
}

.desktop .text-wrapper-9 {
  color: #f9fffd;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-left: -0.59px;
  margin-top: -11px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-10 {
  color: #f9fffd;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-left: -2px;
  margin-top: -11px;
  position: relative;
  transform: rotate(-90.5deg);
  width: fit-content;
}

.desktop .p {
  color: #ffffff47;
  font-family: "Inder", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 154px;
}

.desktop .frame-10 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 57px;
  position: relative;
}

.desktop .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 129px;
}

.desktop .text-wrapper-12 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 141px;
}

.desktop .btn {
  align-items: center;
  background-color: #378829;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  height: 44px;
  justify-content: center;
  left: 33px;
  padding: 0px 20px;
  position: absolute;
  top: 348px;
  width: 212px;
}

.desktop .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.5px;
  position: relative;
  width: fit-content;
}

.desktop .iconsax-linear-3 {
  height: 20px;
  margin-right: -2.5px;
  min-width: 20px;
  position: relative;
}

.desktop .STATS {
  height: 185px;
  min-width: 256px;
  position: relative;
}

.desktop .overlap-group {
  background-color: #464c7f;
  border-radius: 12px;
  height: 185px;
  position: relative;
  width: 250px;
}

.desktop .iconsax-linear-4 {
  height: 40px;
  left: 19px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.desktop .TITLE {
  color: #ffffffa6;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 100px;
}

.desktop .DATE {
  color: #ffffff61;
  font-family: "Imprima", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 152px;
  white-space: nowrap;
  width: 123px;
}

.desktop .PRICE {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 133px;
}

.desktop .frame-11 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 47px;
  position: relative;
}

.desktop .boxtwo {
  align-items: center;
  border-color: #ffffff5e;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 53px;
  height: 430px;
  justify-content: center;
  padding: 0px 17px 0px 0px;
  position: relative;
  width: 270px;
}

.desktop .frame-12 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.desktop .rectangle {
  background-color: #378829;
  border-radius: 8px;
  height: 10px;
  min-width: 9.65px;
  position: relative;
}

.desktop .frame-13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 60px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.desktop .div-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 212.35px;
}

.desktop .frame-14 {
  align-items: center;
  display: flex;
  gap: 47px;
  position: relative;
  width: 220px;
}

.desktop .text-wrapper-15 {
  color: #ffffff59;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 98px;
}

.desktop .rectangle-2 {
  background-color: #d9d9d9;
  height: 30px;
  min-width: 75px;
  position: relative;
}

.desktop .you-have-spent-about {
  color: #ffffff8c;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 230px;
}

.desktop .rectangle-3 {
  background-color: #d9d9d9;
  height: 205px;
  min-width: 205px;
  position: relative;
}

.desktop .frame-15 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.desktop .frame-16 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 52px;
  position: relative;
}

.desktop .frame-17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 430px;
  justify-content: center;
  position: relative;
  width: 270px;
}

.desktop .frame-18 {
  align-items: flex-start;
  background-color: #181414;
  border-radius: 7px;
  display: flex;
  height: 48px;
  padding: 9px 7px;
  position: relative;
  width: 241px;
}

.desktop .frame-19 {
  align-items: center;
  align-self: stretch;
  background-color: #378829;
  border-radius: 5px;
  display: flex;
  flex: 1;
  gap: 10px;
  height: 30px;
  justify-content: center;
  padding: 6px 17px;
  position: relative;
}

.desktop .text-wrapper-16 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .frame-20 {
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  display: flex;
  flex: 1;
  gap: 10px;
  height: 30px;
  justify-content: center;
  padding: 6px 17px;
  position: relative;
}

.desktop .group {
  height: 220px;
  min-width: 224px;
  position: relative;
}

.desktop .overlap-group-2 {
  height: 220px;
  position: relative;
  width: 220px;
}

.desktop .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 87px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  width: 51px;
}

.desktop .text-wrapper-18 {
  color: #ffffffb8;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  width: 116px;
}

.desktop .ellipse {
  border: 17px solid;
  border-color: #bf279dc2;
  border-radius: 110px/109.5px;
  height: 219px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 220px;
}

.desktop .vector {
  height: 99px;
  left: 111px;
  position: absolute;
  top: 0;
  width: 108px;
}

.desktop .frame-21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 254px;
}

.desktop .frame-22 {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-right: -1px;
  position: relative;
  width: fit-content;
}

.desktop .rectangle-4 {
  background-color: #9a2996;
  border-radius: 8px;
  height: 10px;
  min-width: 10px;
  position: relative;
}

.desktop .text-wrapper-19 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .frame-23 {
  align-items: center;
  display: flex;
  gap: 40px;
  position: relative;
  width: fit-content;
}

.desktop .rectangle-5 {
  background-color: #b68f29;
  border-radius: 8px;
  height: 10px;
  min-width: 10px;
  position: relative;
}

.desktop .frame-24 {
  align-items: center;
  display: flex;
  gap: 40px;
  margin-right: -17px;
  position: relative;
  width: 271px;
}

.desktop .rectangle-6 {
  background-color: #378829;
  border-radius: 8px;
  height: 10px;
  min-width: 10px;
  position: relative;
}

.desktop .text-wrapper-20 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 34px;
}

.desktop .iconsax-linear-5 {
  height: 41px;
  left: 21px;
  position: absolute;
  top: 12px;
  width: 41px;
}

.desktop .group-2 {
  flex: 1;
  height: 656px;
  min-width: 271.25px;
  position: relative;
}

.desktop .frame-25 {
  align-items: flex-start;
  background-color: #d9d9d942;
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 0;
  padding: 12px 28px 12px 38px;
  position: absolute;
  top: 0;
  width: 271px;
}

.desktop .text-wrapper-21 {
  align-self: stretch;
  color: #ffffff9e;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.desktop .text-wrapper-22 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.desktop .report {
  align-items: center;
  background-color: #d9d9d942;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 0;
  padding: 12px 57px;
  position: absolute;
  top: 99px;
  width: 271px;
}

.desktop .title-3 {
  align-self: stretch;
  color: #ffffff9e;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.desktop .choix {
  align-self: stretch;
  height: 37px;
  min-width: 156.98px;
  position: relative;
}

.desktop .overlap-group-3 {
  height: 37px;
  position: relative;
  width: 157px;
}

.desktop .wekly {
  align-items: center;
  background-color: #078e35a1;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 3px;
  padding: 5px 10px;
  position: absolute;
  top: 4px;
  width: 74px;
}

.desktop .text-wrapper-23 {
  color: #f0faf3;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .monthly {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 78px;
  padding: 5px 10px;
  position: absolute;
  top: 4px;
  width: 76px;
}

.desktop .text-wrapper-24 {
  color: #f8fffa75;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.62px;
  margin-right: -0.62px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .border {
  border: 1px dashed;
  border-color: #e1ceceb0;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 157px;
}

.desktop .listreport {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 38px;
  height: 442px;
  justify-content: center;
  margin-left: -4.2px;
  margin-right: -4.2px;
  position: relative;
  width: fit-content;
}

.desktop .titleone {
  height: 42px;
  min-width: 163.39px;
  position: relative;
}

.desktop .titlereport {
  color: #a8b1dc;
  font-family: "Inder", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.desktop .subtitle {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.desktop .text-wrapper-25 {
  color: #710404;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(91.57deg);
  width: 8px;
}

.desktop .text-wrapper-26 {
  color: #710404;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
}

.desktop .titleone-2 {
  height: 42px;
  min-width: 161.28px;
  position: relative;
}

.desktop .text-wrapper-27 {
  color: #26d7a3;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(-90deg);
  width: 8px;
}

.desktop .text-wrapper-28 {
  color: #26d7a3;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
}

.desktop .titleone-3 {
  height: 42px;
  min-width: 110px;
  position: relative;
}

.desktop .titleone-4 {
  height: 42px;
  min-width: 164px;
  position: relative;
}

.desktop .titleone-5 {
  height: 42px;
  margin-right: -8px;
  min-width: 173.39px;
  position: relative;
}

.desktop .text-wrapper-29 {
  color: #710404;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(91.57deg);
  width: 8px;
}

.desktop .frame-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 26px;
  position: relative;
}

.desktop .group-3 {
  flex: 1;
  height: 386px;
  min-width: 557px;
  position: relative;
}

.desktop .text-wrapper-30 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 194px;
}

.desktop .rectangle-7 {
  background-color: #d9d9d9;
  height: 326px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 555px;
}

.desktop .weeklysellers {
  flex: 1;
  height: 385px;
  margin-right: -2px;
  min-width: 557px;
  position: relative;
}

.desktop .text-wrapper-31 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 555px;
}

.desktop .group-4 {
  background-color: #fcfcff3d;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 60px;
  width: 554px;
}

.desktop .frame-27 {
  align-items: center;
  display: flex;
  gap: 40px;
  left: 34px;
  position: absolute;
  top: 12px;
  width: 237px;
}

.desktop .ellipse-2 {
  height: 45px;
  min-width: 45.01px;
  object-fit: cover;
  position: relative;
}

.desktop .group-5 {
  height: 40px;
  margin-right: -4px;
  min-width: 156.39px;
  position: relative;
}

.desktop .text-wrapper-32 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 152px;
}

.desktop .text-wrapper-33 {
  color: #ffffff8a;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 121px;
}

.desktop .frame-28 {
  align-items: center;
  background-color: #0a9130;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 412px;
  padding: 10px;
  position: absolute;
  top: 13px;
  width: 113px;
}

.desktop .text-wrapper-34 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .group-6 {
  background-color: #fcfcff3d;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 148px;
  width: 554px;
}

.desktop .group-7 {
  background-color: #fcfcff3d;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 233px;
  width: 554px;
}

.desktop .frame-29 {
  align-items: center;
  display: flex;
  gap: 40px;
  left: 34px;
  position: absolute;
  top: 10px;
  width: 237px;
}

.desktop .frame-30 {
  align-items: center;
  background-color: #0a9130;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 412px;
  padding: 10px;
  position: absolute;
  top: 11px;
  width: 113px;
}

.desktop .group-8 {
  background-color: #fcfcff3d;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 318px;
  width: 554px;
}

.desktop .tableproduct {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 5px 0px 0px;
  position: relative;
}

.desktop .text-wrapper-35 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 237px;
}

.desktop .frame-31 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.desktop .tableheader {
  align-self: stretch;
  height: 20px;
  margin-right: -10px;
  min-width: 1146px;
  position: relative;
}

.desktop .text-wrapper-36 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 195px;
}

.desktop .overlap-group-4 {
  height: 20px;
  left: 204px;
  position: absolute;
  top: 0;
  width: 473px;
}

.desktop .text-wrapper-37 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 377px;
}

.desktop .text-wrapper-38 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 332px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 141px;
}

.desktop .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 708px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 193px;
}

.desktop .text-wrapper-40 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 916px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 220px;
}

.desktop .bodytable {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.desktop .overlap-group-wrapper {
  align-self: stretch;
  height: 64px;
  margin-right: -6px;
  min-width: 1142px;
  position: relative;
}

.desktop .overlap-group-5 {
  background-color: #535886;
  border-radius: 5px;
  height: 64px;
  position: relative;
  width: 1136px;
}

.desktop .ellipse-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60px;
  left: 8px;
  padding: 10px;
  position: absolute;
  top: 2px;
  width: 62px;
}

.desktop .ellipse-3 {
  height: 40px;
  min-width: 40.07px;
  object-fit: cover;
  position: relative;
}

.desktop .overlap-group-6 {
  height: 46px;
  left: 192px;
  position: absolute;
  top: 8px;
  width: 449px;
}

.desktop .text-wrapper-41 {
  color: #ffffffd1;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 382px;
}

.desktop .text-wrapper-42 {
  color: #ffffff63;
  font-family: "Imprima", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 380px;
}

.desktop .text-wrapper-43 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 371px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  width: 78px;
}

.desktop .line {
  height: 38px;
  left: 886px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 1px;
}

.desktop .frame-32 {
  align-items: center;
  display: flex;
  gap: 9px;
  justify-content: center;
  left: 999px;
  position: absolute;
  top: 23px;
  width: 136px;
}

.desktop .img-2 {
  height: 20px;
  min-width: 20.05px;
  position: relative;
}

.desktop .text-wrapper-44 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 41.11px;
}

.desktop .frame-33 {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  left: 706px;
  position: absolute;
  top: 23px;
  width: 173px;
}

.desktop .text-wrapper-45 {
  color: #14c34f;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 40.11px;
}

.desktop .frame-34 {
  align-items: center;
  display: flex;
  gap: 7px;
  justify-content: center;
  left: 890px;
  position: absolute;
  top: 24px;
  width: 105px;
}

.desktop .text-wrapper-46 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 26.07px;
}

.desktop .frame-35 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 26px;
  justify-content: center;
  position: relative;
}

.desktop .activity {
  flex: 1;
  height: 637px;
  min-width: 561px;
  position: relative;
}

.desktop .group-9 {
  height: 95px;
  left: 2px;
  position: absolute;
  top: 79px;
  width: 559px;
}

.desktop .overlap-group-7 {
  background-color: #d9d9d945;
  border-radius: 5px;
  height: 89px;
  left: 167px;
  position: absolute;
  top: 6px;
  width: 385px;
}

.desktop .text-wrapper-47 {
  color: #ffffff70;
  font-family: "Imprima", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 312px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 54px;
}

.desktop .text-wrapper-48 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54px;
  width: 317px;
}

.desktop .text-wrapper-49 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 243px;
}

.desktop .overlap {
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 167px;
}

.desktop .rectangle-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.desktop .rectangle-8 {
  height: 60px;
  min-width: 60px;
  object-fit: cover;
  position: relative;
}

.desktop .line-2 {
  height: 2px;
  left: 77px;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 91px;
}

.desktop .group-10 {
  height: 160px;
  left: 0;
  position: absolute;
  top: 199px;
  width: 559px;
}

.desktop .overlap-2 {
  height: 153px;
  left: 77px;
  position: absolute;
  top: 7px;
  width: 476px;
}

.desktop .rectangle-9 {
  background-color: #d9d9d945;
  border-radius: 5px;
  height: 153px;
  left: 91px;
  position: absolute;
  top: 0;
  width: 385px;
}

.desktop .frame-36 {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  left: 137px;
  position: absolute;
  top: 85px;
  width: 152px;
}

.desktop .rectangle-10 {
  height: 40px;
  min-width: 40px;
  object-fit: cover;
  position: relative;
}

.desktop .rectangle-11 {
  height: 40px;
  margin-right: -17.7px;
  min-width: 40px;
  object-fit: cover;
  position: relative;
}

.desktop .line-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 91px;
}

.desktop .text-wrapper-50 {
  color: #ffffff70;
  font-family: "Imprima", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 402px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
  width: 54px;
}

.desktop .text-wrapper-51 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 298px;
}

.desktop .text-wrapper-52 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 246px;
}

.desktop .img-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 72px;
}

.desktop .rectangle-12 {
  height: 60px;
  margin-right: -8.33px;
  min-width: 60px;
  object-fit: cover;
  position: relative;
}

.desktop .group-11 {
  height: 117px;
  left: 0;
  position: absolute;
  top: 429px;
  width: 559px;
}

.desktop .overlap-3 {
  background-color: #d9d9d945;
  border-radius: 5px;
  height: 111px;
  left: 168px;
  position: absolute;
  top: 6px;
  width: 385px;
}

.desktop .has-changed-sony {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 54px;
  width: 329px;
}

.desktop .text-wrapper-53 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.desktop .text-wrapper-54 {
  text-decoration: underline;
}

.desktop .text-wrapper-55 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 247px;
}

.desktop .text-wrapper-56 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 375px;
}

.desktop .text-wrapper-57 {
  color: #999caf;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 383px;
  width: 232px;
}

.desktop .text-wrapper-58 {
  -webkit-text-stroke: 12px #e8e0e024;
  color: #33ceb2;
  font-family: "Inder", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 259px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 597px;
  width: 254px;
}

.desktop .frame-37 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
  height: 637px;
  position: relative;
}

.desktop .text-wrapper-59 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 31px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 398.06px;
}

.desktop .group-12 {
  align-self: stretch;
  height: 556px;
  margin-right: -2px;
  min-width: 557px;
  position: relative;
}

.desktop .group-13 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 561px;
}

.desktop .overlap-group-8 {
  background-color: #fcfcff3d;
  border-radius: 8px;
  height: 75px;
  position: relative;
  width: 555px;
}

.desktop .frame-38 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 24px;
  padding: 10px;
  position: absolute;
  top: 1px;
  width: 64px;
}

.desktop .ellipse-4 {
  height: 50px;
  margin-right: -6.06px;
  min-width: 50px;
  object-fit: cover;
  position: relative;
}

.desktop .text-wrapper-60 {
  color: #dfe0e6;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 239px;
}

.desktop .text-wrapper-61 {
  color: #ffffff5c;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  width: 215px;
}

.desktop .text-wrapper-62 {
  color: #2fe91f;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 377px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 151px;
}

.desktop .overlap-wrapper {
  height: 75px;
  left: 0;
  position: absolute;
  top: 99px;
  width: 561px;
}

.desktop .frame-39 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  left: 24px;
  padding: 10px;
  position: absolute;
  top: 4px;
  width: 64px;
}

.desktop .text-wrapper-63 {
  color: #dfe0e6;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 239px;
}

.desktop .text-wrapper-64 {
  color: #2fe91f;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 379px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 151px;
}

.desktop .group-14 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 196px;
  width: 561px;
}

.desktop .text-wrapper-65 {
  color: #ffffff5c;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  width: 215px;
}

.desktop .text-wrapper-66 {
  color: #2fe91f;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 380px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 151px;
}

.desktop .group-15 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 293px;
  width: 561px;
}

.desktop .text-wrapper-67 {
  color: #2fe91f;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 381px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 151px;
}

.desktop .group-16 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 390px;
  width: 561px;
}

.desktop .text-wrapper-68 {
  -webkit-text-stroke: 12px #e8e0e024;
  color: #33ceb2;
  font-family: "Inder", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 254px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 520px;
  width: 255px;
}
