.add-newsupplier {
  align-items: flex-start;
  background-color: #ffa726;
  border: 1px none;
  display: flex;
  min-height: 2217px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}


.add-newsupplier .container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.add-newsupplier .sub-design {
  margin-top: 55px;
  height: 10vh;
  position: relative;
}

.add-newsupplier .rectangle {
  background-color: #f57c00;
  height: 100vh;
  border-radius: 50px 0px 0px 0px;
  width: 23px;
}

.add-newsupplier .main {
  align-items: flex-start;
  align-self: stretch;
  background-color: #072983;
  border-radius: 50px 0px 0px 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 13px 20px;
  position: relative;
}


.add-newsupplier .tableproduct {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 15px 0px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 33px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.add-newsupplier .div-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 7px 7px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-2 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  padding: 0px 0px 0px 19px;
  position: relative;
  width: 215px;
}

.add-newsupplier .text-wrapper-7 {
  color: #f9f0fa;
  flex: 1;
  font-family: "Kanit", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -13px;
  position: relative;
}

.add-newsupplier .frame-3 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 21px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-5 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 43px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-6 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #fcfcff3d;
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  padding: 22px 26px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-7 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #fff4f42b;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 18px 18px 18px 19px;
  position: relative;
}

.add-newsupplier .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.add-newsupplier .iconsax-linear-2 {
  height: 17px;
  position: relative;
  width: 15px;
}

.add-newsupplier .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.add-newsupplier .frame-9 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23px;
  padding: 0px 1px;
  position: relative;
  width: 100%;
}

.add-newsupplier .line {
  align-self: stretch;
  height: 2.96px;
  margin-top: -1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-10 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 19px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: relative;
  width: 244px;
}

.add-newsupplier .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 18px;
  position: relative;
}

.add-newsupplier .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.add-newsupplier .frame-13 {
  align-items: flex-start;
  background-color: #1cee6338;
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 2px 4px;
  position: relative;
}

.add-newsupplier .text-wrapper-10 {
  color: #ffffff6b;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.add-newsupplier .text-wrapper-11 {
  color: #aeb8da;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 244px;
}

.add-newsupplier .frame-14 {
  align-items: center;
  border: 1px dashed;
  border-color: #fffafa3d;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 73px;
  height: 143px;
  justify-content: flex-end;
  position: relative;
}

.add-newsupplier .frame-15 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.add-newsupplier .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.add-newsupplier .frame-16 {
  align-items: center;
  align-self: stretch;
  background-color: #1842d8;
  display: flex;
  gap: 13px;
  height: 36px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.add-newsupplier .text-wrapper-13 {
  color: #ffffff;
  flex: 1;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.add-newsupplier .iconsax-linear-3 {
  height: 17px;
  left: 323px;
  position: absolute;
  top: 9px;
  width: 14px;
}

.add-newsupplier .frame-17 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #fff4f42b;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  height: 328px;
  padding: 18px 18px 0px 19px;
  position: relative;
}

.add-newsupplier .frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.add-newsupplier .frame-19 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-20 {
  align-items: flex-start;
  background-color: #ffffff38;
  border-radius: 3px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 2px 4px;
  position: relative;
}

.add-newsupplier .frame-21 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 28px;
  position: relative;
}

.add-newsupplier .frame-22 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff1f;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 2px 3px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-23 {
  align-items: center;
  align-self: stretch;
  background-color: #1b181821;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 42px;
  padding: 5px 19px;
  position: relative;
  width: 100%;
}

.add-newsupplier .text-wrapper-14 {
  color: #ffffff99;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
  width: 100%;
}

.add-newsupplier .frame-24 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 36px;
  position: relative;
}

.add-newsupplier .frame-25 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff1f;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 2px 3px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-26 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 19px;
  position: relative;
}

.add-newsupplier .frame-27 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 19px 19px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-28 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-29 {
  align-items: flex-start;
  border: 1px solid;
  border-color: #fff4f42b;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  padding: 18px 18px 0px 19px;
  position: relative;
}

.add-newsupplier .frame-30 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 19px;
  height: 219px;
  position: relative;
  width: 100%;
}

.add-newsupplier .frame-31 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 36px;
  position: relative;
}

.add-newsupplier .frame-32 {
  align-items: flex-start;
  background-color: #ffffff1f;
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 2px 3px;
  position: relative;
}

.add-newsupplier .frame-33 {
  align-items: center;
  background-color: #ffffff1f;
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  padding: 2px 3px;
  position: relative;
}

.add-newsupplier .frame-34 {
  align-items: center;
  background-color: #1b181821;
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  height: 33px;
  padding: 5px 19px;
  position: relative;
}

.add-newsupplier .frame-35 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 43px;
  justify-content: flex-end;
  position: relative;
}

.add-newsupplier .frame-36 {
  align-items: center;
  border: 1px solid;
  border-color: #fcfafa7a;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 39px;
  justify-content: center;
  position: relative;
  width: 180px;
}

.add-newsupplier .text-wrapper-15 {
  color: #ffffff78;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.add-newsupplier .frame-37 {
  align-items: center;
  background-color: #069a15;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  height: 39px;
  justify-content: center;
  position: relative;
  width: 180px;
}

.add-newsupplier .text-wrapper-16 {
  border: none;
  background: transparent;
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}
