.profile-supplier {
    align-items: flex-start;
    background-color: #ffa726;
    border: 1px none;
    display: flex;
    min-height: 100vh;
    position: relative;
  }
  
  .profile-supplier .container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .profile-supplier .sub-design {
    margin-top: 55px;
    height: 10vh;
    position: relative;
  }
  
  .profile-supplier .rectangle {
    background-color: #f57c00;
    height: 100vh;
    border-radius: 50px 0px 0px 0px;
    width: 23px;
  }
  
  .profile-supplier .main {
    align-items: flex-start;
    align-self: stretch;
    background-color: #072983;
    border-radius: 50px 0px 0px 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 13px 20px;
    position: relative;
  }
  
  .profile-supplier .tableproduct {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 35px;
    padding: 0px 15px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 7px 7px;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .div-wrapper {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    position: relative;
    width: 215px;
  }
  
  .profile-supplier .text-wrapper-7 {
    color: #f9f0fa;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -13px;
    position: relative;
  }
  
  .profile-supplier .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 41px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-3 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 60px 60px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-4 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 9px;
    position: relative;
  }
  
  .profile-supplier .frame-5 {
    align-items: flex-start;
    background-color: #ffffff14;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    position: relative;
  }
  
  .profile-supplier .frame-6 {
    align-items: center;
    background-color: #e65100;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 136px;
  }
  
  .profile-supplier .text-wrapper-8 {
    color: #fffbfb;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .frame-7 {
    align-items: center;
    background-color: #f3ebf236;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    height: 37px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 35px;
  }
  
  .profile-supplier .text-wrapper-9 {
    color: #fffbfb87;
    font-family: "Imprima", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -2px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -4px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 17px;
  }
  
  .profile-supplier .p {
    color: #ffffff61;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .profile-supplier .frame-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 13px;
    justify-content: flex-end;
    position: relative;
  }
  
  .profile-supplier .frame-9 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    padding: 2px;
    position: relative;
  }
  
  .profile-supplier .frame-10 {
    align-items: center;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 14px;
    position: relative;
    width: 214px;
  }
  
  .profile-supplier .text-wrapper-10 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .iconsax-linear-2 {
    height: 18px;
    left: 187px;
    position: absolute;
    top: 9px;
    width: 18px;
  }
  
  .profile-supplier .frame-11 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 50px;
    padding: 24px 0px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-12 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 27px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-13 {
    align-items: flex-start;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-color: #f5f5fc26;
    display: flex;
    flex: 0 0 auto;
    gap: 82px;
    padding: 0px 0px 27px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-14 {
    align-items: flex-start;
    display: flex;
    gap: 33px;
    position: relative;
    width: 458px;
  }
  
  .profile-supplier .rectangle-wrapper {
    align-items: flex-start;
    background-color: #ffffff73;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 4px;
    position: relative;
  }
  
  .profile-supplier .rectangle-2 {
    height: 244px;
    object-fit: cover;
    position: relative;
    width: 189px;
  }
  
  .profile-supplier .frame-15 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    margin-right: -39px;
    position: relative;
  }
  
  .profile-supplier .frame-16 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .text-wrapper-11 {
    color: #ffffff99;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .frame-17 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 27px 27px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-18 {
    align-items: flex-start;
    background-color: #6473faa1;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    min-width: 300px;
    padding: 14px 13px;
    position: relative;
  }
  
  .profile-supplier .text-wrapper-13 {
    color: #ffffffb2;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .line {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 290.01px;
  }
  
  .profile-supplier .frame-19 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .profile-supplier .iconsax-linear-3 {
    height: 18px;
    position: relative;
    width: 18px;
  }
  
  .profile-supplier .text-wrapper-14 {
    color: #faf6f68f;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .profile-supplier .frame-20 {
    align-items: flex-start;
    background-color: #0f9b36;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 3px;
    position: relative;
  }
  
  .profile-supplier .text-wrapper-15 {
    color: #faf6f68f;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .profile-supplier .frame-21 {
    align-items: flex-start;
    background-color: #df4369;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 3px;
    position: relative;
  }
  
  .profile-supplier .text-wrapper-16 {
    color: #faf6f6d9;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .profile-supplier .frame-22 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .profile-supplier .frame-23 {
    align-items: flex-start;
    background-color: #e65100;
    border-radius: 9px 9px 0px 0px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 9px 30px;
    position: relative;
  }
  
  .profile-supplier .frame-24 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 41px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-25 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 41px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .group {
    height: 43.5px;
    position: relative;
    width: 44px;
  }
  
  .profile-supplier .rectangle-3 {
    background-color: #d06b6b;
    border-radius: 50px;
    height: 14px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 14px;
  }
  
  .profile-supplier .rectangle-4 {
    background-color: #1ea0b6;
    border-radius: 50px;
    height: 14px;
    left: 30px;
    position: absolute;
    top: 12px;
    width: 14px;
  }
  
  .profile-supplier .rectangle-5 {
    height: 14px;
    left: 25px;
    position: absolute;
    top: 30px;
    width: 14px;
  }
  
  .profile-supplier .rectangle-6 {
    height: 14px;
    left: 5px;
    position: absolute;
    top: 30px;
    width: 14px;
  }
  
  .profile-supplier .rectangle-7 {
    background-color: #db3516;
    border-radius: 50px;
    height: 14px;
    left: 0;
    position: absolute;
    top: 12px;
    width: 14px;
  }
  
  .profile-supplier .all-product {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .frame-26 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .tableheader {
    align-self: stretch;
    height: 20.5px;
    margin-right: -6px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .overlap-group {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 839px;
  }
  
  .profile-supplier .text-wrapper-17 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 317px;
  }
  
  .profile-supplier .text-wrapper-18 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 170px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 669px;
  }
  
  .profile-supplier .text-wrapper-19 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 868px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 229px;
  }
  
  .profile-supplier .frame-27 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 17px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .bodytable {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 47px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .overlap-group-wrapper {
    align-self: stretch;
    height: 48px;
    margin-bottom: -1px;
    margin-right: -6px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .overlap-group-2 {
    background-color: #fbfcff0a;
    border-radius: 5px;
    height: 48px;
    position: relative;
    width: 1097px;
  }
  
  .profile-supplier .text-wrapper-20 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 170px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 13px;
    white-space: nowrap;
    width: 563px;
  }
  
  .profile-supplier .text-wrapper-21 {
    color: #0c7afad1;
    font-family: "Inder", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
    width: 80px;
  }
  
  .profile-supplier .text-wrapper-22 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 941px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 15px;
    white-space: nowrap;
    width: 75px;
  }
  
  .profile-supplier .line-2 {
    height: 28px;
    left: 855px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 1px;
  }
  
  .profile-supplier .overlap-group-3 {
    background-color: #2577f33b;
    border-radius: 5px;
    height: 48px;
    position: relative;
    width: 1097px;
  }
  
  .profile-supplier .overlap-group-4 {
    background-color: #1a3a83;
    border-radius: 5px;
    height: 48px;
    position: relative;
    width: 1097px;
  }
  
  .profile-supplier .tableproduct-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 44px;
    padding: 5px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .frame-28 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 127px;
  }
  
  .profile-supplier .frame-29 {
    align-items: flex-start;
    background-color: #e65100;
    border-radius: 9px 9px 0px 0px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 9px 30px;
    position: relative;
  }
  
  .profile-supplier .frame-30 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 33px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .group-2 {
    height: 92px;
    position: relative;
    width: 600px;
  }
  
  .profile-supplier .ellipse-wrapper {
    align-items: flex-start;
    background-color: #f9fffbb0;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 56px;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 1px;
    width: 55px;
  }
  
  .profile-supplier .Rounded {
    align-self: stretch;
    border-radius: 50%;
    flex: 1;
    flex-grow: 1;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .overlap-wrapper {
    height: 92px;
    left: 55px;
    position: absolute;
    top: 0;
    width: 545px;
  }
  
  .profile-supplier .overlap {
    height: 92px;
    position: relative;
  }
  
  .profile-supplier .overlap-2 {
    height: 76px;
    left: 0;
    position: absolute;
    top: 0;
    width: 543px;
  }
  
  .profile-supplier .overlap-group-5 {
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 543px;
  }
  
  .profile-supplier .line-3 {
    height: 3px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 54px;
  }
  
  .profile-supplier .frame-31 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    left: 54px;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 489px;
  }
  
  .profile-supplier .frame-32 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 14px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .text-wrapper-23 {
    color: #f9ff00c2;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .line-4 {
    height: 52px;
    left: 18px;
    position: absolute;
    top: 24px;
    width: 3px;
  }
  
  .profile-supplier .line-5 {
    height: 3px;
    left: 22px;
    position: absolute;
    top: 73px;
    width: 32px;
  }
  
  .profile-supplier .frame-33 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    left: 54px;
    padding: 2px;
    position: absolute;
    top: 51px;
    width: 491px;
  }
  
  .profile-supplier .frame-34 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 33px 12px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .group-3 {
    height: 66.5px;
    position: relative;
    width: 247px;
  }
  
  .profile-supplier .frame-35 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #f0f3fb63;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 42px;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 24px;
    width: 245px;
  }
  
  .profile-supplier .frame-36 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #faf5f542;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 9px 0px 9px 13px;
    position: relative;
    width: 100%;
  }
  
  .profile-supplier .text-wrapper-24 {
    color: #ffffff;
    font-family: "Kotta One", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 42px;
  }
  
  .profile-supplier .text-wrapper-25 {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 69px;
  }
  
  .profile-supplier .group-4 {
    height: 65.5px;
    position: relative;
    width: 247px;
  }
  
  .profile-supplier .frame-37 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #f0f3fb63;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    padding: 2px;
    position: absolute;
    top: 24px;
    width: 245px;
  }
  
  .profile-supplier .text-wrapper-26 {
    color: #ffffff;
    font-family: "Kotta One", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .text-wrapper-27 {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 67px;
  }
  
  .profile-supplier .text-wrapper-28 {
    color: #09fc88;
    font-family: "Kotta One", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .profile-supplier .n-CIN-passeport-cart {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 201px;
  }
  
  .profile-supplier .text-wrapper-29 {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 97px;
  }
  
  .profile-supplier .text-wrapper-30 {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 143px;
  }
  
  .profile-supplier .group-5 {
    height: 65px;
    position: relative;
    width: 247px;
  }
  
  .profile-supplier .text-wrapper-31 {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 120px;
  }
  
  .profile-supplier .text-wrapper-32 {
    color: #ffffffc7;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 131px;
  }
  