.loading-button {
    display: flex;
    z-index: 11;
    justify-content: center;
    align-items: center;
    color: #eee7e7;
    padding: 10px 20px;
    cursor: pointer;
  }
  .loading-button:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    border: 10px ;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top-color: #e9e7ee;
    animation: button-loading 0.8s infinite linear;
  }
  
  @keyframes button-loading {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
  