.add-newsprod {
    align-items: flex-start;
    background-color: #ffa726;
    border: 1px none;
    display: flex;
    min-height: 100vh;
    position: relative;
  }
  
  .add-newsprod .container {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .add-newsprod .sub-design {
    margin-top: 55px;
    height: 10vh;
    position: relative;
  }
  
  .add-newsprod .rectangle {
    background-color: #f57c00;
    height: 100vh;
    border-radius: 50px 0px 0px 0px;
    width: 23px;
  }
  
  .add-newsprod .main {
    align-items: flex-start;
    align-self: stretch;
    background-color: #072983;
    border-radius: 50px 0px 0px 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 13px 20px;
    position: relative;
  }
  
  .add-newsprod .tableproduct {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    padding: 15px 0px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 33px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .div-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 7px 7px;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-2 {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    padding: 0px 0px 0px 19px;
    position: relative;
    width: 215px;
  }
  
  .add-newsprod .text-wrapper-7 {
    color: #f9f0fa;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -13px;
    position: relative;
  }
  
  .add-newsprod .frame-3 {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 21px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-5 {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 43px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-6 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #fcfcff3d;
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    padding: 22px 26px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-7 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #fff4f42b;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 18px 18px 18px 19px;
    position: relative;
  }
  
  .add-newsprod .frame-8 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .iconsax-linear-2 {
    height: 17px;
    position: relative;
    width: 15px;
  }
  
  .add-newsprod .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .add-newsprod .frame-9 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 23px;
    padding: 0px 1px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .line {
    align-self: stretch;
    height: 2.96px;
    margin-top: -1px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-10 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 19px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-11 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 19px;
    position: relative;
    width: 244px;
  }
  
  .add-newsprod .frame-12 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 18px;
    position: relative;
  }
  
  .add-newsprod .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .add-newsprod .frame-13 {
    align-items: flex-start;
    background-color: #1cee6338;
    border-radius: 3px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 2px 4px;
    position: relative;
  }
  
  .add-newsprod .text-wrapper-10 {
    color: #ffffff6b;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .add-newsprod .p {
    color: #aeb8da;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 244px;
  }
  
  .add-newsprod .frame-14 {
    align-items: center;
    border: 1px dashed;
    border-color: #fffafa3d;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 73px;
    height: 143px;
    justify-content: flex-end;
    position: relative;
  }
  
  .add-newsprod .frame-15 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .add-newsprod .imgs{
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    object-fit: cover;
  }
  
  .add-newsprod .frame-16 {
    align-items: center;
    align-self: stretch;
    background-color: #1842d8;
    display: flex;
    gap: 13px;
    height: 36px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .text-wrapper-12 {
    color: #ffffff;
    flex: 1;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .add-newsprod .iconsax-linear-3 {
    height: 17px;
    position: absolute;
    top: 9px;
    right: 20px;
    width: 14px;
  }
  
  .add-newsprod .frame-17 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #fff4f42b;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    height: fit-content;
    padding: 19px;
    position: relative;
  }
  
  .add-newsprod .frame-18 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .add-newsprod .frame-19 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 48px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-20 {
    align-items: flex-start;
    background-color: #ffffff38;
    border-radius: 3px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 2px 4px;
    position: relative;
  }
  
  .add-newsprod .frame-21 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 28px;
    position: relative;
  }
  
  .add-newsprod .frame-22 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff1f;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 2px 3px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-23 {
    align-items: center;
    align-self: stretch;
    background-color: #1b181821;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 42px;
    padding: 5px 19px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .text-wrapper-13 {
    color: #ffffff99;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .add-newsprod .frame-24 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 28px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-25 {
    align-items: flex-start;
    background-color: #ffffff1f;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 2px 3px;
    position: relative;
  }
  
  .add-newsprod .text-wrapper-14 {
    color: #f1e7e79e;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    right: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 50px;
  }
  
  .add-newsprod .frame-26 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 36px;
    position: relative;
  }
  
  .add-newsprod .frame-27 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff1f;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 2px 3px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .group {
    height: 33px;
    left: 165px;
    position: absolute;
    top: 3px;
    width: 36px;
  }
  
  .add-newsprod .overlap-group {
    background-color: #718fdd;
    border-radius: 0px 6px 6px 0px;
    height: 40px;
    left: 40px;
    position: relative;
    width: 37px;
  }
  
  .add-newsprod .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
  }
  
  .add-newsprod .text-wrapper-16 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 14px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
  }
  
  .add-newsprod .frame-28 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 19px;
    position: relative;
  }
  
  .add-newsprod .overlap-group-wrapper {
    align-self: stretch;
    height: 37px;
    margin-right: -6px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .overlap-group-2 {
    background-color: #718fdd;
    height: 37px;
    position: relative;
    width: 773px;
  }
  
  .add-newsprod .text-wrapper-17 {
    color: #141313;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 164px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 152px;
  }
  
  .add-newsprod .text-wrapper-18 {
    color: #141313;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 374px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 164px;
  }
  
  .add-newsprod .text-wrapper-19 {
    color: #141313;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 585px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 176px;
  }
  
  .add-newsprod .frame-29 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 19px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .element-wholesale-price {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .add-newsprod .frame-30 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 19px 19px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-31 {
    align-items: center;
    align-self: stretch;
    background-color: #1b181821;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 42px;
    padding: 5px 19px 5px 50px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .group-2 {
    height: 33px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 36px;
  }
  
  .add-newsprod .overlap-group-3 {
    background-color: #718fdd;
    border-radius: 6px 0px 0px 6px;
    height: 42px;
    position: relative;
    width: 38px;
  }
  
  .add-newsprod .element-wholesale-price-2 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 142px;
  }
  
  .add-newsprod .frame-32 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #fff4f42b;
    border-radius: 6px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    padding: 18px 18px 0px 19px;
    position: relative;
  }
  
  .add-newsprod .frame-33 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 19px;
    padding: 0px 0px 19px;
    position: relative;
    width: 100%;
  }
  
  .add-newsprod .frame-34 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 36px;
    position: relative;
  }
  
  .add-newsprod .frame-35 {
    align-items: flex-start;
    background-color: #ffffff1f;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 2px 3px;
    position: relative;
  }
  
  .add-newsprod .frame-36 {
    align-items: center;
    background-color: #ffffff1f;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    padding: 2px 3px;
    position: relative;
  }
  
  .add-newsprod .frame-37 {
    align-items: center;
    background-color: #1b181821;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    height: 33px;
    padding: 5px 19px;
    position: relative;
  }
  
  .add-newsprod .text-wrapper-20 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
  }
  
  .add-newsprod .frame-38 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 43px;
    justify-content: flex-end;
    position: relative;
  }
  
  .add-newsprod .frame-39 {
    background: transparent;
    border: none;
    align-items: center;
    border: 1px solid;
    border-color: #fcfafa7a;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 39px;
    justify-content: center;
    position: relative;
    width: 180px;
  }

  .add-newsprod .text-wrapper-21 {
    color: #ffffff78;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .add-newsprod .frame-40 {
    border: none;
    align-items: center;
    background-color: #069a15;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 39px;
    justify-content: center;
    position: relative;
    width: 180px;
  }
  
  .add-newsprod .text-wrapper-22 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  