.prod {
  align-items: flex-start;
  background-color: #ffa726;
  border: 1px none;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.prod .container {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.prod .sub-design {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  height: 2217px;
  position: relative;
}

.prod .rectangle {
  background-color: #f57c00;
  border-radius: 50px 0px 0px 0px;
  height: 2217px;
  position: relative;
  width: 23px;
}

.prod .main {
  align-items: flex-start;
  align-self: stretch;
  background-color: #072983;
  border-radius: 50px 0px 0px 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 13px 20px;
  position: relative;
}

.prod .tableproduct {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  position: relative;
  width: 100%;
}

.prod .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 33px;
  position: relative;
  width: 100%;
}

.prod .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.prod .frame-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 7px 7px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.prod .div-wrapper {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  padding: 0px 0px 0px 19px;
  position: relative;
  width: 215px;
}

.prod .text-wrapper-7 {
  color: #f9f0fa;
  flex: 1;
  font-family: "Kanit", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -13px;
  position: relative;
}

.prod .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  position: relative;
  width: 100%;
}

.prod .frame-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.prod .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9px;
  position: relative;
}

.prod .frame-6 {
  align-items: flex-start;
  background-color: #ffffff14;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
  position: relative;
}

.prod .frame-7 {
  align-items: center;
  background-color: #e65100;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 136px;
}

.prod .text-wrapper-8 {
  color: #fffbfb;
  font-family: "Imprima", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.prod .frame-8 {
  align-items: center;
  background-color: #f3ebf236;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: 37px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 35px;
}

.prod .text-wrapper-9 {
  color: #fffbfb87;
  font-family: "Imprima", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -2px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -4px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 17px;
}

.prod .p {
  color: #ffffff61;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.prod .frame-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  justify-content: flex-end;
  position: relative;
}

.prod .frame-10 {
  align-items: center;
  border: 1px solid;
  border-color: #fff9f940;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  height: 41px;
  justify-content: space-around;
  padding: 2px;
  position: relative;
}

.prod .frame-11 {
  align-items: center;
  background-color: #ffffff24;
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 10px 14px;
  position: relative;
  width: 214px;
}

.prod .text-wrapper-10 {
  color: #ffffff63;
  font-family: "Imprima", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.prod .iconsax-linear-2 {
  height: 18px;
  left: 187px;
  position: absolute;
  top: 9px;
  width: 18px;
}

.prod .frame-12 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.prod .tableproduct-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 5px 0px 0px;
  position: relative;
  width: 100%;
}
.prod .tableproduct-2Hidden {
display: none;
}

.prod .frame-13 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.prod .IMAGES {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 156px;
}

.prod .PRODUCT-NAME {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 139px;
}

.prod .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.prod .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 215px;
}

.prod .bodytable {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.prod .frame-14 {
  align-items: center;
  align-self: stretch;
  background-color: #fcfcff3d;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 10px 23px 10px 19px;
  position: relative;
  width: 100%;
}

.prod .frame-15 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.prod .ellipse-wrapper {
  align-items: flex-start;
  background-color: #f9fffbb0;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
  position: relative;
  width: 44.07px;
}

.prod .ellipse {
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  width: 40.07px;
}

.prod .frame-16 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 150px;
}

.prod .text-wrapper-13 {
  color: #ffffffd1;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.prod .text-wrapper-14 {
  color: #ffffff63;
  font-family: "Imprima", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.prod .text-wrapper-15 {
  color: #ffffff63;
  font-family: "Imprima", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 74px;
}

.prod .text-wrapper-16 {
  color: #ffffffd1;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.prod .frame-17 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.prod .iconsax-linear-3 {
  height: 20px;
  position: relative;
  width: 20.04px;
}

.prod .text-wrapper-17 {
  color: #14c34f;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.prod .frame-18 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 34px;
  position: relative;
}

.prod .line {
  height: 38px;
  object-fit: cover;
  position: relative;
  width: 1px;
}

.prod .frame-19 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  justify-content: center;
  position: relative;
}

.prod .img {
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 20.05px;
}

.prod .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.prod .frame-20 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9px;
  justify-content: center;
  position: relative;
}

.prod .text-wrapper-19 {
  color: #ec949e;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.prod .frame-21 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 17px 17px;
  position: relative;
  width: 100%;
}
.prod .frame-21Hidden {
 display: none;
}

.prod .group {
  background-color: #fcfcff3d;
  border-radius: 8px;
  height: 359px;
  position: relative;
  width: 261.5px;
}

.prod .frame-22 {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  left: 20px;
  position: absolute;
  top: 321px;
  width: 221px;
}

.prod .frame-23 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 7px;
  justify-content: center;
  position: relative;
}

.prod .text-wrapper-20 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 26.07px;
}

.prod .frame-24 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 9px;
  justify-content: center;
  position: relative;
}

.prod .text-wrapper-21 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 41.11px;
}

.prod .overlap-group {
  background-image: url(../../../static/img/rectangle-26-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 157px;
  left: 16px;
  position: absolute;
  top: 18px;
  width: 229px;
}

.prod .frame-25 {
  align-items: center;
  background-color: #121111;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  left: 7px;
  padding: 5px;
  position: absolute;
  top: 87px;
  width: 148px;
}

.prod .text-wrapper-22 {
  color: #ffffff;
  font-family: "Kanit", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.prod .smartphone-tablet-wrapper {
  align-items: center;
  background-color: #121111;
  display: flex;
  justify-content: center;
  left: 7px;
  padding: 5px 3px 5px 5px;
  position: absolute;
  top: 123px;
  width: 123px;
}

.prod .smartphone-tablet {
  color: #ffffff85;
  font-family: "Kanit", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.prod .frame-26 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #f8efef59;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 20px;
  padding: 0px 0px 19px;
  position: absolute;
  top: 197px;
  width: 222px;
}

.prod .frame-27 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 15px;
  justify-content: center;
  position: relative;
}

.prod .text-wrapper-23 {
  color: #ffffff99;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.prod .overlap {
  background-image: url(../../../static/img/rectangle-26.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 157px;
  left: 16px;
  position: absolute;
  top: 18px;
  width: 229px;
}
