.espece-seller {
    align-items: flex-start;
    background-color: #ffa726;
    border: 1px none;
    display: flex;
    height: 960px;
    min-width: 1440px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .side {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffa726;
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 9px 0px 10px 34px;
    position: relative;
    width: 250px;
  }
  
  .espece-seller .all-logo {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 13px;
    position: relative;
    width: 212px;
  }
  
  .espece-seller .menu-logo {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .espece-seller .logo {
    height: 41px;
    object-fit: cover;
    position: relative;
    width: 59px;
  }
  
  .espece-seller .title {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(118.23, 9.07, 136) 0%, rgb(248.63, 108.77, 207) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Aladin", Helvetica;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .two-bars {
    height: 6px;
    margin-bottom: -0.5px;
    position: relative;
    width: 195px;
  }
  
  .espece-seller .all-menu {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .div {
    align-items: center;
    align-self: stretch;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex: 0 0 auto;
    gap: 21px;
    padding: 13px 17px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .iconsax-linear {
    height: 20.67px;
    position: relative;
    width: 20.67px;
  }
  
  .espece-seller .text-wrapper {
    color: #0b2d87;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -0.67px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .img {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .espece-seller .text-wrapper-2 {
    color: #0b2d87;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .list-menu {
    align-items: center;
    align-self: stretch;
    background-color: #0b0a0a;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex: 0 0 auto;
    gap: 21px;
    padding: 13px 17px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-3 {
    color: #fef8f8;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .list-menu-2 {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    padding: 13px 17px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 21px;
    position: relative;
  }
  
  .espece-seller .headerprofile {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 75px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .profile {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 14px;
    justify-content: flex-end;
    position: relative;
  }
  
  .espece-seller .photos {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
    position: relative;
    width: 41px;
  }
  
  .espece-seller .photoprofile {
    height: 40px;
    object-fit: cover;
    position: relative;
    width: 40.92px;
  }
  
  .espece-seller .icone-connect {
    background-color: #e4efe9;
    border-radius: 4.09px/4px;
    height: 8px;
    left: 31px;
    position: absolute;
    top: 3px;
    width: 8px;
  }
  
  .espece-seller .vert {
    background-color: #0dab5f;
    border-radius: 3.07px/3px;
    height: 6px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 6px;
  }
  
  .espece-seller .nameprofile {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
    position: relative;
  }
  
  .espece-seller .name {
    align-self: stretch;
    color: transparent;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .espece-seller .span {
    color: #ffffff;
  }
  
  .espece-seller .text-wrapper-4 {
    color: #201d1a;
    font-family: "Inter", Helvetica;
    font-weight: 500;
  }
  
  .espece-seller .title-2 {
    align-self: stretch;
    color: #120e0ee6;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .espece-seller .container {
    align-items: flex-end;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .espece-seller .sub-design {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    height: 888px;
    position: relative;
  }
  
  .espece-seller .rectangle {
    background-color: #f57c00;
    border-radius: 50px 0px 0px 0px;
    height: 888px;
    margin-bottom: -1329px;
    position: relative;
    width: 23px;
  }
  
  .espece-seller .main {
    align-items: flex-start;
    align-self: stretch;
    background-color: #072983;
    border-radius: 50px 0px 0px 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 13px 20px;
    position: relative;
  }
  
  .espece-seller .tableproduct {
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 31px;
    padding: 0px 0px 15px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 19px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .div-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 7px 7px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-5 {
    color: #f9f0fa;
    font-family: "Kanit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-wrapper {
    align-items: flex-start;
    border: 1px solid;
    border-color: #f6eded8a;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 3px;
    position: relative;
  }
  
  .espece-seller .frame-5 {
    align-items: center;
    align-self: stretch;
    background-color: #159939;
    display: flex;
    gap: 10px;
    height: 81px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-6 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .frame-6 {
    align-items: center;
    align-self: stretch;
    background-color: #961599;
    display: flex;
    gap: 10px;
    height: 81px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-7 {
    align-items: center;
    align-self: stretch;
    background-color: #f57c00;
    display: flex;
    gap: 10px;
    height: 81px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-8 {
    align-items: center;
    align-self: stretch;
    background-color: #159199;
    display: flex;
    gap: 10px;
    height: 81px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-9 {
    align-items: center;
    align-self: stretch;
    background-color: #994415;
    display: flex;
    gap: 10px;
    height: 81px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-10 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 37px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-11 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-12 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 13px;
    position: relative;
    width: 316px;
  }
  
  .espece-seller .frame-13 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    margin-right: -34px;
    padding: 2px;
    position: relative;
    width: 350px;
  }
  
  .espece-seller .frame-14 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 14px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-7 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 182px;
  }
  
  .espece-seller .iconsax-linear-2 {
    height: 18px;
    left: 310px;
    position: absolute;
    top: 9px;
    width: 18px;
  }
  
  .espece-seller .frame-15 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 26px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .tableproduct-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    padding: 5px 65px 0px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-16 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 18px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-17 {
    align-items: flex-start;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #fffbfb;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 0px 18px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-18 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .espece-seller .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .frame-19 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
  }
  
  .espece-seller .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .espece-seller .bodytable {
    align-items: center;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #fbf8f84c;
    display: flex;
    flex: 0 0 auto;
    gap: 15px;
    padding: 0px 0px 12px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-20 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    position: relative;
  }
  
  .espece-seller .text-wrapper-10 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .text-wrapper-11 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .espece-seller .text-wrapper-12 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .espece-seller .text-wrapper-13 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .frame-21 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 30px 0px 0px 65px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-22 {
    align-items: flex-start;
    background-color: #ffffff1c;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 253px;
    padding: 38px 13px 11px;
    position: relative;
    width: 525px;
  }
  
  .espece-seller .payment {
    align-items: center;
    background-color: #e65100;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    height: 40px;
    justify-content: center;
    left: 38px;
    padding: 10px;
    position: absolute;
    top: -16px;
    width: 176px;
  }
  
  .espece-seller .text-wrapper-14 {
    color: #ffffff;
    font-family: "Kanit", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
    position: relative;
    width: fit-content;
  }
  
  .espece-seller .frame-23 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 0px 0px 0px 13px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .taxes-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .espece-seller .taxes {
    color: #f9f0faba;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  .espece-seller .frame-24 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    height: 41px;
    padding: 2px;
    position: relative;
  }
  
  .espece-seller .frame-25 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 10px 14px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-15 {
    color: #f090ffba;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -2.5px;
    margin-top: -4.5px;
    position: relative;
    text-align: center;
  }
  
  .espece-seller .frame-26 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: relative;
    width: 471px;
  }
  
  .espece-seller .frame-27 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 26px;
    padding: 0px 60px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .taxes-2 {
    color: #f9f0faba;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -3.5px;
    position: relative;
    text-align: right;
  }
  
  .espece-seller .frame-28 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    padding: 2px;
    position: relative;
    width: 56px;
  }
  
  .espece-seller .frame-29 {
    align-items: center;
    align-self: stretch;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -1px;
    margin-top: -1px;
    padding: 10px 14px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-16 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -4.5px;
    margin-right: -4.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .espece-seller .frame-30 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    padding: 2px;
    position: relative;
    width: 164px;
  }
  
  .espece-seller .text-wrapper-17 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -0.5px;
    margin-right: -0.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .espece-seller .frame-31 {
    align-self: stretch;
    background-color: #ffffff24;
    border-radius: 4px;
    flex: 0 0 auto;
    margin-bottom: -1px;
    margin-top: -1px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-18 {
    color: #f090ff;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -8.5px;
    margin-top: -10.5px;
    position: relative;
    text-align: center;
  }
  
  .espece-seller .frame-32 {
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 26px;
    height: 78px;
    padding: 0px 60px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .frame-33 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 48px;
    justify-content: space-around;
    margin-right: -3px;
    padding: 2px;
    position: relative;
    width: 354px;
  }
  
  .espece-seller .frame-34 {
    align-items: center;
    align-self: stretch;
    background-color: #15f12bf0;
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 10px 14px;
    position: relative;
    width: 100%;
  }
  
  .espece-seller .text-wrapper-19 {
    color: #050505;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -5px;
    margin-top: -7px;
    position: relative;
    text-align: center;
  }
  