.dashboad {
  align-items: flex-start;
  background-color: #ffa726;
  border: 1px none;
  display: flex;
  min-height: 2234px;
  position: relative;
  width: 100%;
}

.dashboad .container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.dashboad .sub-design {
  margin-top: 55px;
  height: 10vh;
  position: relative;
}

.dashboad .rectangle {
  background-color: #f57c00;
  height: 100vh;
  border-radius: 50px 0px 0px 0px;
  width: 23px;
}

.dashboad .main {
  align-items: flex-start;
  align-self: stretch;
  background-color: #072983;
  border-radius: 50px 0px 0px 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  padding: 13px 20px;
  position: relative;
}

.dashboad .box-header {
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 17px 17px;
  padding: 15px 16px;
  position: relative;
  width: 100%;
}

.dashboad .block {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 48px;
  min-width: 250px;
  position: relative;
}

.dashboad .boxone {
  align-items: flex-start;
  border-color: #fdf2f25e;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  height: 430px;
  margin-left: -4.5px;
  margin-right: -4.5px;
  position: relative;
  width: 270px;
}

.dashboad .msg-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: 47px;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.dashboad .title-3 {
  color: #ffffffb0;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 171.8px;
}

.dashboad .iconsax-broken-sound {
  height: 20.57px;
  position: relative;
  width: 17.5px;
}

.dashboad .msg-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 11px;
  height: 54px;
  position: relative;
  width: 100%;
}

.dashboad .text-wrapper-6 {
  color: #ffffff66;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 129px;
}

.dashboad .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -1px;
  position: relative;
  width: 138px;
}

.dashboad .msg-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 46px;
  position: relative;
  width: 100%;
}

.dashboad .frame {
  align-items: center;
  background-color: #3d9279;
  border-radius: 4px;
  display: flex;
  height: 21px;
  justify-content: center;
  padding: 13px 5px;
  position: relative;
  width: 47.91px;
}

.dashboad .text-wrapper-8 {
  color: #f9fffd;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-left: -0.59px;
  margin-top: -11px;
  position: relative;
  width: fit-content;
}

.dashboad .text-wrapper-9 {
  color: #f9fffd;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -9px;
  margin-left: -2px;
  margin-top: -11px;
  position: relative;
  transform: rotate(-90.5deg);
  width: fit-content;
}

.dashboad .p {
  color: #ffffff47;
  font-family: "Inder", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 154px;
}

.dashboad .msg-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 57px;
  position: relative;
  width: 100%;
}

.dashboad .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 129px;
}

.dashboad .text-wrapper-11 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 141px;
}

.dashboad .btn {
  align-items: center;
  background-color: #378829;
  border-radius: 10px;
  display: flex;
  gap: 18px;
  height: 44px;
  justify-content: center;
  left: 33px;
  padding: 0px 20px;
  position: absolute;
  top: 348px;
  width: 212px;
}

.dashboad .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.5px;
  position: relative;
  width: fit-content;
}

.dashboad .iconsax-linear-2 {
  height: 20px;
  margin-right: -2.5px;
  position: relative;
  width: 20px;
}

.dashboad .STATS {
  height: 185px;
  margin-right: -0.5px;
  position: relative;
  width: 256px;
}

.dashboad .overlap-group {
  background-color: #eeeff71f;
  border-radius: 12px;
  height: 185px;
  position: relative;
  width: 250px;
}

.dashboad .iconsax-linear-3 {
  height: 40px;
  left: 19px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.dashboad .TITLE {
  color: #ffffffa6;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 49px;
  width: 100px;
}

.dashboad .DATE {
  color: #ffffff61;
  font-family: "Imprima", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 152px;
  width: 123px;
}

.dashboad .PRICE {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 63px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 133px;
}

.dashboad .block-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 47px;
  min-width: 250px;
  position: relative;
}

.dashboad .boxtwo {
  align-items: center;
  border-color: #ffffff5e;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 53px;
  height: 430px;
  justify-content: center;
  margin-left: -4.5px;
  margin-right: -4.5px;
  padding: 0px 17px 0px 0px;
  position: relative;
  width: 270px;
}

.dashboad .msg-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.dashboad .rectangle-2 {
  background-color: #378829;
  border-radius: 8px;
  height: 10px;
  position: relative;
  width: 9.65px;
}

.dashboad .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5px;
  height: 60px;
  justify-content: center;
  position: relative;
}

.dashboad .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.dashboad .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 212.35px;
}

.dashboad .frame-3 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 47px;
  position: relative;
  width: 220px;
}

.dashboad .text-wrapper-14 {
  color: #ffffff59;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 98px;
}

.dashboad .rectangle-3 {
  background-color: #d9d9d9;
  height: 30px;
  position: relative;
  width: 75px;
}

.dashboad .you-have-spent-about {
  color: #ffffff8c;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 230px;
}

.dashboad .rectangle-4 {
  background-color: #d9d9d9;
  height: 205px;
  position: relative;
  width: 205px;
}

.dashboad .overlap-group-2 {
  background-color: #eeeff81f;
  border-radius: 12px;
  height: 185px;
  position: relative;
  width: 250px;
}

.dashboad .frame-4 {
  height: 40px;
  left: 20px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.dashboad .block-3 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 52px;
  min-width: 250px;
  position: relative;
}

.dashboad .boxthree {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 430px;
  justify-content: center;
  margin-left: -4.5px;
  margin-right: -4.5px;
  position: relative;
  width: 270px;
}

.dashboad .msg-6 {
  align-items: flex-start;
  background-color: #11100f;
  border-radius: 7px;
  display: flex;
  flex: 0 0 auto;
  padding: 9px 7px;
  position: relative;
  width: 241px;
}

.dashboad .active {
  align-items: center;
  align-self: stretch;
  background-color: #378829;
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 6px 17px;
  position: relative;
}

.dashboad .text-wrapper-15 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.dashboad .inactive {
  align-items: center;
  align-self: stretch;
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: center;
  padding: 6px 17px;
  position: relative;
}

.dashboad .statistique {
  height: 220px;
  position: relative;
  width: 224px;
}

.dashboad .overlap-group-3 {
  height: 220px;
  position: relative;
  width: 220px;
}

.dashboad .text-wrapper-16 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 87px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 75px;
  width: 51px;
}

.dashboad .text-wrapper-17 {
  color: #ffffffb8;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 105px;
  width: 116px;
}

.dashboad .ellipse {
  border: 17px solid;
  border-color: #bf279dc2;
  border-radius: 110px/109.5px;
  height: 219px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 220px;
}

.dashboad .vector {
  height: 99px;
  left: 111px;
  position: absolute;
  top: 0;
  width: 108px;
}

.dashboad .titlemsg {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 254px;
}

.dashboad .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  margin-right: -1px;
  position: relative;
}

.dashboad .rectangle-5 {
  background-color: #9a2996;
  border-radius: 8px;
  height: 10px;
  position: relative;
  width: 10px;
}

.dashboad .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.dashboad .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
}

.dashboad .rectangle-6 {
  background-color: #b68f29;
  border-radius: 8px;
  height: 10px;
  position: relative;
  width: 10px;
}

.dashboad .frame-7 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  margin-right: -17px;
  position: relative;
  width: 271px;
}

.dashboad .rectangle-7 {
  background-color: #378829;
  border-radius: 8px;
  height: 10px;
  position: relative;
  width: 10px;
}

.dashboad .text-wrapper-19 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 34px;
}

.dashboad .iconsax-linear-4 {
  height: 41px;
  left: 21px;
  position: absolute;
  top: 12px;
  width: 41px;
}

.dashboad .allreport {
  flex: 1;
  flex-grow: 1;
  height: 656px;
  min-width: 250px;
  position: relative;
}

.dashboad .funds {
  align-items: flex-start;
  background-color: #d9d9d942;
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 0;
  padding: 12px 28px 12px 38px;
  position: absolute;
  top: 0;
  width: 261px;
}

.dashboad .text-wrapper-20 {
  align-self: stretch;
  color: #ffffff9e;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.dashboad .text-wrapper-21 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.dashboad .report {
  align-items: center;
  background-color: #d9d9d942;
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 0;
  padding: 12px 57px;
  position: absolute;
  top: 99px;
  width: 261px;
}

.dashboad .title-4 {
  align-self: stretch;
  color: #ffffff9e;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.dashboad .choix {
  align-self: stretch;
  height: 37px;
  position: relative;
  width: 100%;
}

.dashboad .overlap-group-4 {
  height: 37px;
  position: relative;
  width: 147px;
}

.dashboad .wekly {
  align-items: center;
  background-color: #078e35a1;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 3px;
  padding: 5px 10px;
  position: absolute;
  top: 4px;
  width: 69px;
}

.dashboad .text-wrapper-22 {
  color: #f0faf3;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.dashboad .monthly {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 73px;
  padding: 5px 10px;
  position: absolute;
  top: 4px;
  width: 71px;
}

.dashboad .text-wrapper-23 {
  color: #f8fffa75;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -3.09px;
  margin-right: -3.09px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.dashboad .border {
  border: 1px dashed;
  border-color: #e1ceceb0;
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 147px;
}

.dashboad .listreport {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 38px;
  height: 442px;
  justify-content: center;
  margin-left: -9.33px;
  margin-right: -9.33px;
  position: relative;
}

.dashboad .titleone {
  height: 42px;
  position: relative;
  width: 163.39px;
}

.dashboad .titlereport {
  color: #a8b1dc;
  font-family: "Inder", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.dashboad .subtitle {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.dashboad .text-wrapper-24 {
  color: #710404;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(91.57deg);
  width: 8px;
}

.dashboad .text-wrapper-25 {
  color: #710404;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 115px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
}

.dashboad .titleone-2 {
  height: 42px;
  position: relative;
  width: 161.28px;
}

.dashboad .text-wrapper-26 {
  color: #26d7a3;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(-90deg);
  width: 8px;
}

.dashboad .text-wrapper-27 {
  color: #26d7a3;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
}

.dashboad .titleone-3 {
  height: 42px;
  position: relative;
  width: 110px;
}

.dashboad .titleone-4 {
  height: 42px;
  position: relative;
  width: 164px;
}

.dashboad .titleone-5 {
  height: 42px;
  margin-right: -8px;
  position: relative;
  width: 173.39px;
}

.dashboad .text-wrapper-28 {
  color: #710404;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 700;
  left: 153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  transform: rotate(91.57deg);
  width: 8px;
}

.dashboad .boxsubheader {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 26px 26px;
  padding: 16px 15px;
  position: relative;
  width: 100%;
}

.dashboad .local {
  flex: 1;
  flex-grow: 1;
  height: 366px;
  position: relative;
}

.dashboad .text-wrapper-29 {
  color: #d9d9d9;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 246px;
}

.dashboad .rectangle-8 {
  background-color: #d9d9d9;
  height: 309px;
  left: 0;
  position: absolute;
  top: 57px;
  width: 704px;
}

.dashboad .weeklysellers {
  height: 364px;
  margin-right: -2px;
  position: relative;
  width: 369px;
}

.dashboad .text-wrapper-30 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 367px;
}

.dashboad .styleweekly {
  background-color: #f8f8fd2e;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 220px;
  width: 366px;
}

.dashboad .frame-8 {
  align-items: center;
  display: flex;
  gap: 40px;
  left: 22px;
  position: absolute;
  top: 12px;
  width: 157px;
}

.dashboad .ellipse-wrapper {
  align-items: center;
  background-color: #ffffff26;
  border-radius: 50px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 3px;
  position: relative;
}

.dashboad .img-2 {
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 40px;
}

.dashboad .group {
  height: 40px;
  margin-right: -85.41px;
  position: relative;
  width: 156.39px;
}

.dashboad .text-wrapper-31 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 152px;
}

.dashboad .text-wrapper-32 {
  color: #ffffff8a;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 121px;
}

.dashboad .frame-9 {
  align-items: center;
  background-color: #0a9130;
  border-radius: 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 273px;
  padding: 10px;
  position: absolute;
  top: 13px;
  width: 75px;
}

.dashboad .text-wrapper-33 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2.17px;
  margin-right: -2.17px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.dashboad .styleweekly-2 {
  background-color: #f8f8fd2e;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 297px;
  width: 366px;
}

.dashboad .styleweekly-3 {
  background-color: #f7f7fc2e;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 61px;
  width: 366px;
}

.dashboad .frame-10 {
  align-items: center;
  display: flex;
  gap: 40px;
  left: 22px;
  position: absolute;
  top: 10px;
  width: 157px;
}

.dashboad .styleweekly-4 {
  background-color: #f8f8fd2e;
  border-radius: 8px;
  height: 67px;
  left: 1px;
  position: absolute;
  top: 141px;
  width: 366px;
}

.dashboad .tableproduct {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 15px;
  position: relative;
  width: 100%;
}

.dashboad .text-wrapper-34 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 518px;
}

.dashboad .frame-11 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.dashboad .tableheader {
  align-self: stretch;
  height: 20px;
  margin-right: -10px;
  position: relative;
  width: 100%;
}

.dashboad .text-wrapper-35 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 189px;
}

.dashboad .overlap-group-5 {
  height: 20px;
  left: 197px;
  position: absolute;
  top: 0;
  width: 457px;
}

.dashboad .text-wrapper-36 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 364px;
}

.dashboad .text-wrapper-37 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 321px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 136px;
}

.dashboad .text-wrapper-38 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 684px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 187px;
}

.dashboad .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 884px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 213px;
}

.dashboad .bodytable {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
  width: 100%;
}

.dashboad .overlap-group-wrapper {
  align-self: stretch;
  height: 64px;
  margin-right: -6px;
  position: relative;
  width: 100%;
}

.dashboad .overlap-group-6 {
  background-color: #0b0b0b4f;
  border-radius: 5px;
  height: 64px;
  position: relative;
  width: 1097px;
}

.dashboad .rectangle-wrapper {
  align-items: flex-start;
  background-color: #ffffff2e;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  left: 20px;
  padding: 3px;
  position: absolute;
  top: 9px;
  width: 46px;
}

.dashboad .overlap-group-7 {
  height: 44px;
  left: 185px;
  position: absolute;
  top: 10px;
  width: 433px;
}

.dashboad .text-wrapper-40 {
  color: #f5f8ff;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 369px;
}

.dashboad .text-wrapper-41 {
  color: #f3f5fa63;
  font-family: "Imprima", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  width: 367px;
}

.dashboad .text-wrapper-42 {
  color: #f5f8ff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 358px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 75px;
}

.dashboad .line {
  height: 38px;
  left: 855px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 1px;
}

.dashboad .frame-12 {
  align-items: center;
  display: flex;
  gap: 9px;
  justify-content: center;
  left: 965px;
  position: absolute;
  top: 23px;
  width: 131px;
}

.dashboad .img-3 {
  height: 20px;
  position: relative;
  width: 20.05px;
}

.dashboad .text-wrapper-43 {
  color: #fafbff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 41.11px;
}

.dashboad .frame-13 {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  left: 682px;
  position: absolute;
  top: 23px;
  width: 167px;
}

.dashboad .text-wrapper-44 {
  color: #14c34f;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 40.11px;
}

.dashboad .frame-14 {
  align-items: center;
  display: flex;
  gap: 7px;
  justify-content: center;
  left: 860px;
  position: absolute;
  top: 24px;
  width: 101px;
}

.dashboad .text-wrapper-45 {
  color: #f5f8ff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 26.07px;
}

.dashboad .overlap {
  background-color: #ffffff38;
  border-radius: 5px;
  height: 64px;
  position: relative;
  width: 1097px;
}

.dashboad .text-wrapper-46 {
  color: #fcffffd1;
  font-family: "Inter", Helvetica;
  font-size: 17px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 369px;
}

.dashboad .text-wrapper-47 {
  color: #fcffff63;
  font-family: "Imprima", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 28px;
  width: 367px;
}

.dashboad .text-wrapper-48 {
  color: #fcffff;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 358px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 75px;
}

.dashboad .text-wrapper-49 {
  color: #fcffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 41.11px;
}

.dashboad .text-wrapper-50 {
  color: #fcffff;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 26.07px;
}

.dashboad .frame-15 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 26px;
  padding: 15px;
  position: relative;
  width: 100%;
}

.dashboad .activity {
  flex: 1;
  flex-grow: 1;
  height: 531px;
  position: relative;
}

.dashboad .recentone {
  height: 76px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 354px;
}

.dashboad .overlap-group-8 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 71px;
}

.dashboad .line-2 {
  height: 2px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 50px;
}

.dashboad .img-wrapper {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  left: 0;
  padding: 3px;
  position: absolute;
  top: 0;
}

.dashboad .overlap-2 {
  background-color: #d9d9d945;
  border-radius: 5px;
  height: 76px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 276px;
}

.dashboad .text-wrapper-51 {
  color: #ffffff70;
  font-family: "Imprima", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 218px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 50px;
}

.dashboad .text-wrapper-52 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 205px;
}

.dashboad .text-wrapper-53 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 157px;
}

.dashboad .recentone-2 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 380px;
  width: 354px;
}

.dashboad .line-3 {
  height: 2px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 49px;
}

.dashboad .overlap-3 {
  background-color: #d9d9d945;
  border-radius: 5px;
  height: 102px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 276px;
}

.dashboad .text-wrapper-54 {
  color: #ffffff70;
  font-family: "Imprima", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 218px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  width: 50px;
}

.dashboad .has-changed-sony {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 48px;
  width: 206px;
}

.dashboad .text-wrapper-55 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.dashboad .text-wrapper-56 {
  text-decoration: underline;
}

.dashboad .text-wrapper-57 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 157px;
}

.dashboad .recentone-3 {
  height: 117px;
  left: 0;
  position: absolute;
  top: 192px;
  width: 354px;
}

.dashboad .overlap-4 {
  height: 46px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 72px;
}

.dashboad .line-4 {
  height: 2px;
  left: 23px;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 49px;
}

.dashboad .overlap-5 {
  background-color: #d9d9d945;
  border-radius: 5px;
  height: 117px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 276px;
}

.dashboad .text-wrapper-58 {
  color: #ffffff82;
  font-family: "Inder", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 38px;
  width: 205px;
}

.dashboad .text-wrapper-59 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 157px;
}

.dashboad .frame-16 {
  align-items: flex-start;
  background-color: #ffffff30;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  left: 28px;
  padding: 3px;
  position: absolute;
  top: 64px;
}

.dashboad .rectangle-9 {
  height: 35px;
  object-fit: cover;
  position: relative;
  width: 35px;
}

.dashboad .frame-17 {
  align-items: flex-start;
  background-color: #ffffff30;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  left: 84px;
  padding: 3px;
  position: absolute;
  top: 64px;
}

.dashboad .frame-18 {
  align-items: flex-start;
  background-color: #ffffff30;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  left: 144px;
  padding: 3px;
  position: absolute;
  top: 64px;
}

.dashboad .text-wrapper-60 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 336px;
}

.dashboad .text-wrapper-61 {
  color: #999caf;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 162px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 342px;
  width: 150px;
}

.dashboad .text-wrapper-62 {
  -webkit-text-stroke: 6px #1b1414;
  color: #f6fbf7;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 74px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 507px;
  width: 246px;
}

.dashboad .group-2 {
  flex: 1;
  flex-grow: 1;
  height: 533px;
  position: relative;
}

.dashboad .text-wrapper-63 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 332px;
}

.dashboad .group-3 {
  height: 395px;
  left: 1px;
  position: absolute;
  top: 86px;
  width: 348px;
}

.dashboad .group-4 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 0;
  width: 354px;
}

.dashboad .overlap-group-9 {
  background-color: #fcfcff3d;
  border-radius: 4px;
  height: 76px;
  position: relative;
  width: 348px;
}

.dashboad .frame-19 {
  align-items: flex-start;
  background-color: #a3a5b1;
  border-radius: 50px;
  display: inline-flex;
  gap: 10px;
  left: 15px;
  padding: 3px;
  position: absolute;
  top: 8px;
}

.dashboad .ellipse-2 {
  height: 50px;
  object-fit: cover;
  position: relative;
  width: 50px;
}

.dashboad .overlap-6 {
  height: 43px;
  left: 93px;
  position: absolute;
  top: 17px;
  width: 238px;
}

.dashboad .overlap-group-10 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 238px;
}

.dashboad .text-wrapper-64 {
  color: #dfe0e6;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 150px;
}

.dashboad .text-wrapper-65 {
  color: #2fe91f;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 144px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 94px;
}

.dashboad .text-wrapper-66 {
  color: #ffffff5c;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 135px;
}

.dashboad .overlap-wrapper {
  height: 76px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 354px;
}

.dashboad .frame-20 {
  height: 56px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 56px;
}

.dashboad .group-5 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 213px;
  width: 354px;
}

.dashboad .group-6 {
  height: 76px;
  left: 0;
  position: absolute;
  top: 319px;
  width: 354px;
}

.dashboad .text-wrapper-67 {
  -webkit-text-stroke: 6px #1b1414;
  color: #f6fbf7;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 509px;
  width: 305px;
}

.dashboad .group-7 {
  flex: 1;
  flex-grow: 1;
  height: 533px;
  margin-right: -4px;
  position: relative;
}

.dashboad .text-wrapper-68 {
  color: #ffffff87;
  font-family: "Inder", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 319px;
}

.dashboad .group-8 {
  height: 395px;
  left: 0;
  position: absolute;
  top: 86px;
  width: 348px;
}

.dashboad .text-wrapper-69 {
  color: #2fe91f;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 144px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 95px;
}

.dashboad .text-wrapper-70 {
  -webkit-text-stroke: 6px #1b1414;
  color: #f6fbf7;
  font-family: "Inder", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 509px;
  width: 321px;
}
