.seller {
    align-items: flex-start;
    background-color: #143094;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 1780px;
    position: relative;
  }
  
  .seller .frame {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 30px;
    padding: 0px 24px 0px 0px;
    position: relative;
    width: 1429px;
  }
  
  .seller .frame-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 21px;
    position: relative;
  }
  
  .seller .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 21px;
    position: relative;
    width: 100%;
  }
  
  .seller .header-wrapper {
    align-items: flex-start;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #fcfcff3d;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 26px;
    padding: 0px 0px 17px;
    position: relative;
    width: 100%;
  }
  
  .seller .header {
    align-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    height: 53px;
    justify-content: space-between;
    padding: 13px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .seller .guidetitle {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    width: 215.05px;
  }
  
  .seller .guide {
    color: transparent;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .seller .span {
    color: #ddd3d3;
  }
  
  .seller .text-wrapper-5 {
    color: #ffffff;
  }
  
  .seller .text-wrapper-6 {
    color: #797cb0;
  }
  
  .seller .text-wrapper-7 {
    color: #e1d6d66b;
  }
  
  .seller .headerprofile {
    align-items: center;
    display: flex;
    gap: 75px;
    justify-content: flex-end;
    position: relative;
    width: 259px;
  }
  
  .seller .badgeprofile {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    justify-content: flex-end;
    position: relative;
    width: 175px;
  }
  
  .seller .nameprofile {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
    position: relative;
  }
  
  .seller .name {
    align-self: stretch;
    color: transparent;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: right;
  }
  
  .seller .text-wrapper-8 {
    color: #14d8d8;
  }
  
  .seller .title-2 {
    align-self: stretch;
    color: #cfc3c3;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
  }
  
  .seller .photos {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
    position: relative;
    width: 41px;
  }
  
  .seller .photoprofile {
    height: 40px;
    object-fit: cover;
    position: relative;
    width: 40.92px;
  }
  
  .seller .icone-connect {
    background-color: #e4efe9;
    border-radius: 4.09px/4px;
    height: 8px;
    left: 31px;
    position: absolute;
    top: 3px;
    width: 8px;
  }
  
  .seller .vert {
    background-color: #0dab5f;
    border-radius: 3.07px/3px;
    height: 6px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 6px;
  }
  
  .seller .frame-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 33px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .seller .div-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 7px 7px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-5 {
    align-items: center;
    display: flex;
    gap: 26px;
    justify-content: space-around;
    margin-right: -11px;
    position: relative;
    width: 1121px;
  }
  
  .seller .frame-6 {
    align-items: flex-start;
    display: flex;
    gap: 12px;
    padding: 0px 0px 0px 19px;
    position: relative;
    width: 215px;
  }
  
  .seller .text-wrapper-9 {
    color: #f9f0fa;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -13px;
    position: relative;
  }
  
  .seller .frame-7 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-8 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 60px 60px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 9px;
    position: relative;
  }
  
  .seller .frame-10 {
    align-items: flex-start;
    background-color: #181414;
    border-radius: 7px;
    display: flex;
    padding: 9px 7px;
    position: relative;
    width: 241px;
  }
  
  .seller .frame-11 {
    align-items: center;
    align-self: stretch;
    background-color: #378829;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 6px 17px;
    position: relative;
  }
  
  .seller .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .seller .frame-12 {
    align-items: center;
    align-self: stretch;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 6px 17px;
    position: relative;
  }
  
  .seller .p {
    color: #ffffff61;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .seller .frame-13 {
    align-items: center;
    display: flex;
    gap: 13px;
    position: relative;
    width: 249px;
  }
  
  .seller .frame-14 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    margin-right: -2px;
    padding: 2px;
    position: relative;
  }
  
  .seller .frame-15 {
    align-items: center;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 14px;
    position: relative;
    width: 214px;
  }
  
  .seller .text-wrapper-11 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .seller .iconsax-linear-5 {
    height: 18px;
    left: 187px;
    position: absolute;
    top: 9px;
    width: 18px;
  }
  
  .seller .tableproduct {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    padding: 5px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-16 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .seller .tableheader {
    align-self: stretch;
    height: 40px;
    margin-right: -12px;
    position: relative;
    width: 100%;
  }
  
  .seller .overlap-group-2 {
    height: 20px;
    left: 85px;
    position: absolute;
    top: 10px;
    width: 797px;
  }
  
  .seller .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 166px;
  }
  
  .seller .text-wrapper-13 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 112px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 269px;
  }
  
  .seller .text-wrapper-14 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 391px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 193px;
  }
  
  .seller .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 312px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 156px;
  }
  
  .seller .text-wrapper-16 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 561px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 237px;
  }
  
  .seller .frame-17 {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 51px;
  }
  
  .seller .text-wrapper-17 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 897px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 213px;
  }
  
  .seller .bodytable {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 100%;
  }
  
  .seller .overlap-group-wrapper {
    align-self: stretch;
    height: 64px;
    margin-right: -2px;
    position: relative;
    width: 100%;
  }
  
  .seller .overlap-group-3 {
    background-color: #fbfcff3d;
    border-radius: 5px;
    height: 64px;
    position: relative;
    width: 1110px;
  }
  
  .seller .frame-18 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 65px;
    position: absolute;
    top: 22px;
    width: 99px;
  }
  
  .seller .text-wrapper-18 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .seller .line {
    height: 38px;
    left: 865px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 1px;
  }
  
  .seller .frame-19 {
    align-items: center;
    display: flex;
    gap: 9px;
    justify-content: center;
    left: 977px;
    position: absolute;
    top: 23px;
    width: 133px;
  }
  
  .seller .text-wrapper-19 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 57px;
  }
  
  .seller .frame-20 {
    align-items: center;
    display: flex;
    gap: 7px;
    justify-content: center;
    left: 870px;
    position: absolute;
    top: 24px;
    width: 102px;
  }
  
  .seller .iconsax-linear-edit {
    height: 20px;
    position: relative;
    width: 20.05px;
  }
  
  .seller .text-wrapper-20 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 26.07px;
  }
  
  .seller .img-2 {
    height: 20px;
    left: 20px;
    position: absolute;
    top: 21px;
    width: 20px;
  }
  
  .seller .overlap-group-4 {
    height: 42px;
    left: 180px;
    position: absolute;
    top: 10px;
    width: 327px;
  }
  
  .seller .group-2 {
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 229px;
  }
  
  .seller .text-wrapper-21 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 184px;
  }
  
  .seller .text-wrapper-22 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 225px;
  }
  
  .seller .group-3 {
    height: 20px;
    left: 210px;
    position: absolute;
    top: 11px;
    width: 117px;
  }
  
  .seller .iconsax-linear-6 {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .seller .text-wrapper-23 {
    color: #790e0e;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 79px;
  }
  
  .seller .overlap-group-5 {
    height: 42px;
    left: 525px;
    position: absolute;
    top: 10px;
    width: 316px;
  }
  
  .seller .group-4 {
    height: 42px;
    left: 0;
    position: absolute;
    top: 0;
    width: 219px;
  }
  
  .seller .text-wrapper-24 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
    width: 149px;
  }
  
  .seller .div-2 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 215px;
  }
  
  .seller .text-wrapper-25 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 154px;
  }
  
  .seller .frame-21 {
    align-items: center;
    display: flex;
    gap: 10px;
    left: 65px;
    position: absolute;
    top: 22px;
    width: 99px;
  }
  
  .seller .frame-22 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    position: relative;
    width: 98.91px;
  }
  
  .seller .frame-23 {
    align-items: center;
    display: flex;
    gap: 9px;
    justify-content: center;
    margin-left: -0.66px;
    margin-right: -0.66px;
    position: relative;
    width: 133.91px;
  }
  
  .seller .text-wrapper-26 {
    color: #14c34f;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 79px;
  }
  
  .seller .text-wrapper-27 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .seller .text-wrapper-28 {
    font-size: 16px;
  }
  
  .seller .frame-24 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #1b19196b;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 50px;
    padding: 24px 34px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-25 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 27px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-26 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 30px;
    padding: 0px 0px 27px;
    position: relative;
    width: 100%;
  }
  
  .seller .text-wrapper-29 {
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -8px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .seller .iconsax-linear-7 {
    height: 24px;
    left: 1022px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .seller .frame-27 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 27px;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-28 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 27px;
    position: relative;
  }
  
  .seller .frame-29 {
    align-items: flex-start;
    background-color: #6473faa1;
    border-radius: 5px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 14px 13px;
    position: relative;
    width: 322px;
  }
  
  .seller .text-wrapper-30 {
    color: #ffffffb2;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .seller .line-2 {
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 290.01px;
  }
  
  .seller .frame-30 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .seller .iconsax-linear-8 {
    height: 18px;
    position: relative;
    width: 18px;
  }
  
  .seller .text-wrapper-31 {
    color: #faf6f68f;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .seller .frame-31 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-right: -1px;
    position: relative;
    width: 297px;
  }
  
  .seller .text-wrapper-32 {
    color: #faf6f68f;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 269px;
  }
  
  .seller .frame-32 {
    align-items: flex-start;
    background-color: #0f9b36;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 3px;
    position: relative;
  }
  
  .seller .text-wrapper-33 {
    color: #faf6f68f;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .seller .frame-33 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #6473faa1;
    border-radius: 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 22px;
    padding: 18px 13px;
    position: relative;
  }
  
  .seller .frame-34 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;
  }
  
  .seller .text-wrapper-34 {
    color: #ffffffb2;
    font-family: "Inter", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 163px;
  }
  
  .seller .line-3 {
    align-self: stretch;
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-35 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 0px 15px;
    position: relative;
    width: 100%;
  }
  
  .seller .text-wrapper-35 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 355px;
  }
  
  .seller .text-wrapper-36 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 64px;
  }
  
  .seller .text-wrapper-37 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 50px;
  }
  
  .seller .text-wrapper-38 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 62px;
  }
  
  .seller .frame-36 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .seller .frame-37 {
    align-items: center;
    align-self: stretch;
    background-color: #524ab5;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 13px 15px;
    position: relative;
    width: 100%;
  }
  
  .seller .rectangle-wrapper {
    align-items: flex-start;
    background-color: #ffffff8a;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 2px;
    position: relative;
  }
  
  .seller .rectangle-2 {
    height: 40px;
    object-fit: cover;
    position: relative;
    width: 40px;
  }
  
  .seller .text-wrapper-39 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 257.38px;
  }
  
  .seller .text-wrapper-40 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .seller .text-wrapper-41 {
    color: #faf6f6f5;
    font-family: "Inter", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .seller .frame-38 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 13px 15px;
    position: relative;
    width: 100%;
  }
  