.promos {
    align-items: flex-start;
    background-color: #143094;
    border: 1px none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 892px;
    overflow: hidden;
    position: relative;
  }
  
  .promos .frame {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 30px;
    padding: 0px 24px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .promos .frame-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 21px;
    height: 896px;
    position: relative;
  }
  
  .promos .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 21px;
    height: 1764px;
    margin-bottom: -868px;
    position: relative;
    width: 100%;
  }
  
  .promos .header-wrapper {
    align-items: flex-start;
    align-self: stretch;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #fcfcff3d;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 26px;
    padding: 0px 0px 17px;
    position: relative;
    width: 100%;
  }
  
  .promos .header {
    align-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    height: 53px;
    justify-content: space-between;
    padding: 13px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .promos .guidetitle {
    align-items: flex-start;
    display: flex;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    width: 215.05px;
  }
  
  .promos .guide {
    color: transparent;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .promos .span {
    color: #ddd3d3;
  }
  
  .promos .text-wrapper-2 {
    color: #ffffff;
  }
  
  .promos .text-wrapper-3 {
    color: #797cb0;
  }
  
  .promos .text-wrapper-4 {
    color: #e1d6d66b;
  }
  
  .promos .headerprofile {
    align-items: center;
    display: flex;
    gap: 75px;
    justify-content: flex-end;
    position: relative;
    width: 259px;
  }
  
  .promos .badgeprofile {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    justify-content: flex-end;
    position: relative;
    width: 175px;
  }
  
  .promos .nameprofile {
    align-items: flex-end;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
    position: relative;
  }
  
  .promos .name {
    align-self: stretch;
    color: transparent;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: right;
  }
  
  .promos .text-wrapper-5 {
    color: #14d8d8;
  }
  
  .promos .title-2 {
    align-self: stretch;
    color: #cfc3c3;
    font-family: "Inder", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: right;
  }
  
  .promos .photos {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 40px;
    position: relative;
    width: 41px;
  }
  
  .promos .photoprofile {
    height: 40px;
    object-fit: cover;
    position: relative;
    width: 40.92px;
  }
  
  .promos .icone-connect {
    background-color: #e4efe9;
    border-radius: 4.09px/4px;
    height: 8px;
    left: 31px;
    position: absolute;
    top: 3px;
    width: 8px;
  }
  
  .promos .vert {
    background-color: #0dab5f;
    border-radius: 3.07px/3px;
    height: 6px;
    left: 1px;
    position: relative;
    top: 1px;
    width: 6px;
  }
  
  .promos .frame-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 33px;
    position: relative;
    width: 100%;
  }
  
  .promos .frame-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .promos .div-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 100%;
  }
  
  .promos .div-wrapper {
    align-items: flex-start;
    border-color: #cf19d3;
    border-left-style: solid;
    border-left-width: 13px;
    display: flex;
    gap: 10px;
    height: 36px;
    padding: 0px 0px 0px 32px;
    position: relative;
    width: 215px;
  }
  
  .promos .text-wrapper-6 {
    color: #f9f0fa;
    flex: 1;
    font-family: "Kanit", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -13px;
    position: relative;
  }
  
  .promos .frame-5 {
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff14;
    border-radius: 100px;
    display: flex;
    flex: 0 0 auto;
    gap: 1px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    width: 100%;
  }
  
  .promos .frame-6 {
    align-items: flex-start;
    border-radius: 100px 0px 0px 100px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 1px;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  .promos .frame-7 {
    align-items: center;
    background-color: #cf19d3;
    box-shadow: 20px 0px 40px #bec9bff0;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 13px;
    height: 35px;
    justify-content: center;
    padding: 10px 10px 10px 15px;
    position: relative;
  }
  
  .promos .iconsax-linear-2 {
    height: 18px;
    margin-bottom: -1.5px;
    margin-top: -1.5px;
    position: relative;
    width: 18px;
  }
  
  .promos .text-wrapper-7 {
    color: #fdfcfc;
    font-family: "Imprima", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -1px;
    margin-top: -3px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .promos .frame-8 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    gap: 60px 60px;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .promos .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 9px;
    position: relative;
  }
  
  .promos .frame-10 {
    align-items: flex-start;
    background-color: #ffffff14;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    position: relative;
  }
  
  .promos .frame-11 {
    align-items: center;
    background-color: #096607;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 136px;
  }
  
  .promos .text-wrapper-8 {
    color: #fffbfb;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .promos .frame-12 {
    align-items: center;
    background-color: #f3ebf236;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    height: 37px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 35px;
  }
  
  .promos .text-wrapper-9 {
    color: #fffbfb87;
    font-family: "Imprima", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 23px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -2px;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -4px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 17px;
  }
  
  .promos .p {
    color: #ffffff61;
    font-family: "Inder", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .promos .frame-13 {
    align-items: center;
    border: 1px solid;
    border-color: #fff9f940;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    height: 41px;
    justify-content: space-around;
    padding: 2px;
    position: relative;
  }
  
  .promos .frame-14 {
    align-items: center;
    background-color: #ffffff24;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 10px 14px;
    position: relative;
    width: 214px;
  }
  
  .promos .text-wrapper-10 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .promos .iconsax-linear-3 {
    height: 18px;
    left: 187px;
    position: absolute;
    top: 9px;
    width: 18px;
  }
  
  .promos .tableproduct {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    padding: 5px 0px 0px;
    position: relative;
    width: 100%;
  }
  
  .promos .frame-15 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 40px;
    position: relative;
    width: 100%;
  }
  
  .promos .tableheader {
    align-self: stretch;
    height: 20px;
    margin-right: -12px;
    position: relative;
    width: 100%;
  }
  
  .promos .overlap-group {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 434px;
  }
  
  .promos .PRODUCT-NAME {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 358px;
  }
  
  .promos .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 328px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 106px;
  }
  
  .promos .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 451px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
  .promos .text-wrapper-13 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 565px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 111px;
  }
  
  .promos .text-wrapper-14 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 679px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 111px;
  }
  
  .promos .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 836px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 270px;
  }
  
  .promos .group {
    align-self: stretch;
    height: 64px;
    margin-right: -12px;
    position: relative;
    width: 100%;
  }
  
  .promos .overlap-group-2 {
    background-color: #fbfcff3d;
    border-radius: 5px;
    height: 64px;
    position: relative;
    width: 1106px;
  }
  
  .promos .overlap-group-3 {
    height: 41px;
    left: 28px;
    position: absolute;
    top: 13px;
    width: 395px;
  }
  
  .promos .text-wrapper-16 {
    color: #ffffffd1;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 339px;
  }
  
  .promos .text-wrapper-17 {
    color: #ffffff63;
    font-family: "Imprima", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
    width: 337px;
  }
  
  .promos .text-wrapper-18 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 319px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 76px;
  }
  
  .promos .text-wrapper-19 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 441px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 76px;
  }
  
  .promos .text-wrapper-20 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 572px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 76px;
  }
  
  .promos .text-wrapper-21 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 703px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 78px;
  }
  
  .promos .line {
    height: 38px;
    left: 796px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 1px;
  }
  
  .promos .frame-16 {
    align-items: center;
    display: flex;
    gap: 9px;
    justify-content: flex-end;
    left: 966px;
    position: absolute;
    top: 23px;
    width: 132px;
  }
  
  .promos .text-wrapper-22 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 79px;
  }
  
  .promos .frame-17 {
    align-items: center;
    display: flex;
    gap: 7px;
    left: 821px;
    position: absolute;
    top: 23px;
    width: 132px;
  }
  
  .promos .text-wrapper-23 {
    color: #ffffff;
    font-family: "Inder", Helvetica;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 90px;
  }
  