.sdebar {
  background-color: #f5ebeb3f;
  width: 250px;
  height: 100vh;
  position: relative;
  transition: 0.5s;
}
.link {
  width: 110%;
  display: flex;
  text-decoration: none;
}

/* Show mini Sidebar */

 .minWidth {
  background-color: #f5ebeb3f;
  width: 90px;
  height: 100vh;
  gap: 10px;
  position: relative;
  transition: 0.5s;  
}
.minWidth .title {
  display: none;
}
.minWidth .text-wrapper {
  display: none;
}
.minWidth .bar {
  width: 100px;
}
/* Finish mini Sidebar */


 .header-logo {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  gap: 35px;
  left: 20px;
  position: absolute;
  top: 15px;
  width: fit-content;
}

 .logo {
  height: 41px;
  min-width: 56px;
  object-fit: cover;
  position: relative;
}

 .title {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(43.78, 228.44, 217.36) 0%, rgb(248.63, 108.77, 207) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Aladin", Helvetica;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

 .bar {
  height: 7px;
  left: 9px;
  position: absolute;
  top: 63px;
  width: 90%;
}

 .menus {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  left: 25px;
  position: absolute;
  top: 112px;
  width: fit-content;
}

 .menu {
  cursor: pointer;
  align-items: center;
  padding: 10px;
  width: 110%;
  display: flex;
  gap: 21px;
  position: relative;
  border-radius: 6px;
  transition: 0.2s;
  color: #fdf7f799;
}
 .menu:hover {
  background: #0129c9e2;
  transform: scale(1.1);
  color: #fdf7f7f5;
}
 .iconsax-linear {
  height: 20.67px;
  min-width: 20.67px;
  position: relative;
}

 .text-wrapper {
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.67px;
  position: relative;
  width: fit-content;
  cursor: pointer;
}
 .img {
  height: 20px;
  min-width: 20px;
  position: relative;
}

 .div {
  color: #fdf7f799;
  font-family: "Inder", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -5px;
  margin-top: -0.67px;
  position: relative;
  width: fit-content;
}